<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="https://cdn.lineicons.com/3.0/lineicons.css">
</head>

<body>
    <div class="form-section auth">
        <div class="form-header auth">
            <h2>Login To Contact Me</h2>
        </div>
        <%- include ("./partials/msg"); %>
        <form action="/user/login" method="POST"><input class="form-control" type="text" name="username" placeholder="Enter your username"><input class="form-control" type="password" name="password" placeholder="Enter your password"><button type="submit">Login</button>
            <div class="msg"> <span>Not a member yet? &nbsp;</span><a href="/user/new">create a free account</a></div>
        </form>
    </div>
    <script src="/static/js/main.js"> </script>
</body>

</html>